.navbar {
    background: #817573;
    margin-bottom: 20px;
    font-family: 'Concert One', cursive;
}

h5 {
    padding: 10px;
    margin: 10px;
    color: #000000;
    font-family: 'Concert One', cursive;
}

.nav-link {
    color: #ffffff;
}

a.Nav:hover {
    color: #ffffff;
    padding: 5px;
    border: 1px solid #000000;
    background: #758818;
}
