body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png")
}

footer {
    padding: 20px;
    background: #817573;
    text-align: center;
}

.card {
    border: black 3px solid;
    background: #188863;
    margin-bottom: 20px;
}

.card-body {
    border: black 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background: white
}

.card-text {
    margin: 20px auto 20px auto;
    font-size: 35px;
    text-align: center;
}

.card-title {
    margin: 20px auto 20px auto;
    font-size: 40px;
    text-align: center;
}

.img-container {
    margin: 0px auto 0px auto;
    border-left: black 2px solid;
    border-right: black 2px solid;
}

.location-div {
    border: black 2px solid;
    width: 50%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
