body {
    background: url("https://layout-lounge.weebly.com/uploads/2/5/9/2/2592379/9331204_orig.png");
}

footer {
    padding: 20px;
    background: #e2b13c;
    text-align: center;
}

p {
    font-size: 12px;
}

.card {
    background: #010512;
    margin-bottom: 20px;
    border: #e2b13c solid 3px
}

.card-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: #DCDCDC;
    border: #e2b13c solid 3px
}

.card-text {
    margin: 20px auto 20px auto;
    font-size: 25px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.card-title {
    width: 80%;
    margin: 20px auto 20px auto;
    font-size: 40px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

.img-container {
    margin: 10px auto 10px auto;
    border: #e2b13c 2px solid;
    width: 572px;
    height: 400px;
}

.location-div {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #DCDCDC;
    width: 80%;
}

#sized-image{
    height: 100%;
    width: 100%;
}
