.btn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4D5656;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
}

#btn1 {
    background: #0F2206;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    border-color: #4D5656;
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px white,
                2px 2px #010512,
                3px 3px #39ff14,
                4px 4px #010512,
                5px 5px #010512,
                6px 6px #010512;
}

#btn1:hover {
    background: #0F2206;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    border-color: #4D5656;
}

#btn2 {
    background: #220B06;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px white,
                2px 2px #010512,
                3px 3px #FF5733,
                4px 4px #010512,
                5px 5px #010512,
                6px 6px #010512;
}

#btn2:hover {
    background: #220B06;
    margin: 10px;
    padding: 10px;
    font-size: 40px; 
}