#footer {
    background: #817573;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

a {
    color: #ffffff;
    text-align: center;
}

.nav-link {
    color: #ffffff;
}

a:hover {
    color: #640238;
}
