.about-container {
    background: #010512;
    border: 1px #e2b13c solid;
    padding: 20px;
    width: 100%;
    text-align: center;
}

#about-img {
    border: 1px black solid;
    margin: 0px auto 0px auto;
    height: 35%;
    width: 35%;
    box-shadow: 5px 5px 5px black;
}

.description-div {
    padding: 20px;
    background: #C0CABC;
    margin: 0px auto 0px auto;
    border: 2px black solid;
    text-align: center;
    color: #47088F;
}

.how-to-play-div {
    margin-top: 50px;
    color: #631888;
    font-family: 'Muli', sans-serif;
}

#play {
    font-size: 15px;
    color: #631888;
    font-family: 'Muli', sans-serif;
}

#login-link {
    color: #e2b13c;
    font-family: 'Muli', sans-serif;
}

#register {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

#signup-link {
    color: #e2b13c;
    font-family: 'Muli', sans-serif;

}

#cyoa {
    font-family: 'Major Mono Display', monospace;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    color: black;
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px #631888,
                2px 2px yellow,
                3px 3px #631888,
                4px 4px #631888,
                5px 5px #631888,
                6px 6px #631888;
}

h3 {
    font-size: 23px;
    font-style: italic;
    font-family: 'Muli', sans-serif;
    color: black;
    text-shadow: 1px 1px grey;
}

p {
    font-size: 19px;
    font-style: italic;
    color: black;
    margin-top: 10px;
    font-family: 'Muli', sans-serif;
}

footer {
    padding: 20px;
    background: #817573;
    text-align: center;
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
}

#icon-credit {
    font-size: 9px;
}