.container-login {
    border: black 1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;

}

.login-header {
    margin: 0px auto 0px auto;
    color: lightgray;
    padding: 5px;
    background: #031549;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.whole-form {
    background: #188863;
    padding: 20px;
    color: white;
}

#submit-button {
    background:#031549;
    width: 50%;
    font-family: 'Muli', sans-serif;

}

#register-login {
    font-size: 15px;
    text-align: right;
}

#no-hover:hover{
    padding: 0px;    
}