.container-login {
    padding: 20px;
    border:#817573 2px solid;
    background: #188863;
    margin: 20px auto 20px auto;
    width: 50%;
}

#welcome-text {
    margin: 0px auto 0px auto;
    color: lightgray;
    padding: 5px;
    background: #031549;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

#submit-button {
    margin: 10px auto 10px auto;
    border: black 1px solid;
    background: #e2b13c;
    font-family: 'Muli', sans-serif;
    width: 100%;
}

#firstName {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

#lastName {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

#username {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

#password {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Muli', sans-serif;
}

#register-link {
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    text-align: right;
}

#no-hover:hover{
    padding: 0px;    
}